%svg#left-arrow{"enable-background" => "new 0 0 23 23", :space => "preserve", :version => "1.1", :viewbox => "0 0 23 23", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %polyline{:fill => "none", :points => "\r\n\t\t10.6,20.4 1.7,11.5 10.6,2.6 \t", :stroke => "#FFFFFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
  %line{:fill => "none", :stroke => "#FFFFFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "1.7", :x2 => "21.7", :y1 => "11.5", :y2 => "11.5"}
