%svg{"enable-background" => "new 0 0 14 14", :space => "preserve", :version => "1.1", :viewbox => "0 0 14 14", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g.nav-btn-circle
    %path{:d => "M7,14L7,14c-3.9,0-7-3.1-7-7v0c0-3.9,3.1-7,7-7h0c3.9,0,7,3.1,7,7v0C14,10.9,10.9,14,7,14z" }
  %g.nav-btn-horz
    %line{:fill => "none", :stroke => "#FFFFFF", "stroke-linecap" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "4", :x2 => "10", :y1 => "7", :y2 => "7"}
  %g.nav-btn-vert
    %g
      %line{:fill => "none", :stroke => "#FFFFFF", "stroke-linecap" => "round", "stroke-miterlimit" => "10", :x1 => "7", :x2 => "7", :y1 => "4", :y2 => "10"}
