%svg{"enable-background" => "new 0 0 12 12", :space => "preserve", :version => "1.1", :viewbox => "0 0 12 12", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %rect{:height => "8.5", :transform => "matrix(0.7071 0.7071 -0.7071 0.7071 6 -2.4853)", :width => "8.5", :x => "1.8", :y => "1.8"}
