%svg{"enable-background" => "new 0 0 14 14", :space => "preserve", :version => "1.1", :viewbox => "0 0 14 14", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g.nav-bullet
    %rect{ :x => "4.5", :y => "4.5"}
