%svg#digital-ocean{:space => "preserve", :style => "enable-background:new 0 0 100 100;", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g.icon
    %g
      %path{:d => "M50,14.5c-19.6,0-35.5,15.9-35.5,35.5h13.8c0-12,9.7-21.7,21.7-21.7c12,0,21.7,9.7,21.7,21.7S62,71.7,50,71.7\r\n\t\t\tc-0.1,0-0.1,0-0.2,0v13.8c0.1,0,0.1,0,0.2,0c19.6,0,35.5-15.9,35.5-35.5S69.6,14.5,50,14.5z"}
    %rect{:height => "13.4", :width => "13.4", :x => "36.4", :y => "58.3"}
    %rect{:height => "10.6", :width => "10.6", :x => "25.9", :y => "71.7"}
    %rect{:height => "8.8", :width => "8.8", :x => "17.1", :y => "62.9"}
