%svg#joyent{:space => "preserve", :style => "enable-background:new 0 0 100 100;", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g.icon
    %g
      %path{:d => "M76.7,47L88,35.9c-0.4-0.9-0.7-1.8-1.1-2.7l-12,11.9L76.7,47z"}
      %path{:d => "M62.3,25.3L46.6,9.6c-1.1,0.1-2.3,0.2-3.3,0.4l17.1,17.1L62.3,25.3z"}
      %path{:d => "M66,21.5L54.2,9.7c-1.3-0.1-2.7-0.2-4-0.2l13.9,13.9L66,21.5z"}
      %path{:d => "M69.7,17.8L63.9,12c-1.7-0.7-3.4-1.1-5.3-1.5l9.3,9.3L69.7,17.8z"}
      %path{:d => "M80.2,51l9.4-9.4c-0.2-1.1-0.5-2-0.8-3.1L78.3,49L80.2,51z"}
      %path{:d => "M84.1,54.5l6.3-6.3c-0.1-1.1-0.2-2.3-0.3-3.4l-7.8,7.8L84.1,54.5z"}
      %path{:d => "M87.7,58.4l2.4-2.4c0.2-1.3,0.4-2.8,0.4-4.2l-4.7,4.7L87.7,58.4z"}
      %path{:d => "M28.8,80.2l8.2,8.2c1.6,0.6,3.3,1.1,5.2,1.3L30.8,78.3L28.8,80.2z"}
      %path{:d => "M26.3,82.9c1.8,1.2,3.6,2.4,5.6,3.4l-4.5-4.5L26.3,82.9z"}
      %path{:d => "M32.6,76.5l13.9,13.9c1.1,0.1,2.3,0.2,3.4,0.2c0.2,0,0.3,0,0.5,0l-16-16L32.6,76.5z"}
      %path{:d => "M36.4,72.7l17.5,17.6c1.1-0.1,2.2-0.3,3.3-0.5l-19-19L36.4,72.7z"}
      %path{:d => "M29.1,36.2L9.8,55.4c0.2,1.1,0.4,2.2,0.6,3.2L30.9,38L29.1,36.2z"}
      %path{:d => "M25.4,32.5l-16,15.9c0,0.6,0,1.1,0,1.6c0,0.8,0,1.4,0.1,2.2l17.8-17.8L25.4,32.5z"}
      %path{:d => "M21.7,28.8L10.8,39.7c-0.4,1.5-0.7,3.2-1,4.7l13.8-13.8L21.7,28.8z"}
      %path{:d => "M18,25.1c-2.1,2.8-3.9,5.7-5.3,9l7.2-7.2L18,25.1z"}
      %path{:d => "M72,43.2c0.3,0,0.6,0.1,0.8,0.3l12.8-12.8c-0.5-0.8-1-1.6-1.4-2.4l-15,14.9H72z"}
      %polygon{:points => "29.5,43.2 33.3,43.2 34.7,41.8 32.9,40 \t\t"}
      %path{:d => "M43,43.2L21.2,21.4c-0.7,0.7-1.2,1.3-1.8,2l19.8,19.8C39.2,43.2,43,43.2,43,43.2z"}
      %path{:d => "M26.8,45.9L11.2,61.6c0.3,1,0.6,1.9,1,2.9l14.7-14.7C26.8,49.7,26.8,45.9,26.8,45.9z"}
      %polygon{:points => "37,43.2 37.2,43.2 37.1,43.1 \t\t"}
      %path{:d => "M43,35.8L25.1,18c-0.7,0.6-1.4,1.1-2.1,1.7l19.9,19.9L43,35.8L43,35.8z"}
      %path{:d => "M57,43.2h1.2l21.1-21.1c-0.6-0.7-1.2-1.2-1.9-1.9L57,40.7V43.2z"}
      %path{:d => "M26.8,56.1v-2.8L13.2,67c0.4,0.9,0.9,1.7,1.2,2.5l12.7-12.6C26.9,56.7,26.8,56.4,26.8,56.1z"}
      %path{:d => "M55.9,27.1c0.6,0,1.1,0.5,1.1,1.1v2.3l1.5-1.5L40.2,10.6c-1,0.3-2,0.6-3,0.9l15.6,15.6H55.9z"}
      %path{:d => "M43,28.3L29.6,14.9c-0.8,0.5-1.5,1-2.3,1.4L43,32V28.3z"}
      %path{:d => "M57,37l18.5-18.5c-0.7-0.6-1.4-1.1-2.2-1.6L57,33.3V37z"}
      %path{:d => "M65.7,43.2l17-17c-0.6-0.8-1.1-1.4-1.6-2.1L61.9,43.2H65.7z"}
      %path{:d => "M57.1,57.3l21.5,21.5c0.7-0.7,1.2-1.2,1.8-1.9L60.9,57.3H57.1z"}
      %path{:d => "M57,63.5l18.1,18.3c0.7-0.6,1.4-1.1,2-1.7L57,59.6V63.5z"}
      %path{:d => "M64.8,57.3l17.4,17.4c0.6-0.7,1.1-1.4,1.6-2.2L68.6,57.3H64.8z"}
      %path{:d => "M57,70.9l13.9,13.9c0.8-0.5,1.5-1,2.3-1.5L57,67.1V70.9z"}
      %path{:d => "M73.2,46.8v3.8L87.6,65c0.4-1,0.7-1.8,1-2.8L73.2,46.8z"}
      %path{:d => "M73.2,56.1c0,0.5-0.4,1-0.9,1.1l12.9,12.9c0.5-0.8,0.9-1.6,1.3-2.5L73.2,54.2V56.1z"}
      %path{:d => "M51.9,73.4l13.9,13.9c0.9-0.4,1.7-0.8,2.6-1.2L55.7,73.4H51.9z"}
      %path{:d => "M37.8,57.3L19,76.1c0.6,0.7,1.1,1.3,1.8,2l20.8-20.8H37.8z"}
      %path{:d => "M43,59.5L22.5,79.8c0.7,0.6,1.3,1.1,2,1.7l18.3-18.3L43,59.5L43,59.5z"}
      %polygon{:points => "43,68.1 41.9,67.1 40.1,69 43,71.9 \t\t"}
      %path{:d => "M44.4,73.4l15.9,15.9c1-0.3,1.9-0.6,2.9-0.9l-15-14.9L44.4,73.4L44.4,73.4z"}
      %path{:d => "M30.4,57.3L15.8,71.9c0.5,0.8,1,1.5,1.5,2.2l16.8-16.8H30.4L30.4,57.3z"}
      %path{:d => "M49.1,27.1L34.6,12.5c-0.9,0.4-1.7,0.8-2.6,1.1L45.4,27C45.4,27.1,49.1,27.1,49.1,27.1z"}
