%svg#linode{:space => "preserve", :style => "enable-background:new 0 0 100 100;", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g.icon
    %polygon{:points => "55.4,74.1 55.4,76.7 65.8,72.2 65.8,70.2 65.7,69.8 \t"}
    %polygon{:points => "55.4,70.2 55.4,72.8 65.8,68.5 65.8,66.4 65.7,65.9 \t"}
    %polygon{:points => "55.4,66.2 55.4,68.9 65.8,64.6 65.8,62.5 65.7,62 \t"}
    %polygon{:points => "55.4,62.4 55.4,65.1 65.8,60.7 65.8,58.6 65.7,58.2 \t"}
    %polygon{:points => "51.2,75.1 53.7,76.2 53.7,62.7 51.2,61.5 \t"}
    %polygon{:points => "47.6,63 48.8,63.5 48.8,63.7 48.8,63.7 48.8,73.8 50,74.4 50,60.9 47.6,59.8 \t"}
    %polygon{:points => "48.2,56.5 47.4,56.8 47.4,56.7 47.2,56.2 43.6,57.8 43.3,57.9 35.7,61.1 35.7,63.7 43.2,60.6 44,60.2 44,61.2 \r\n\t\t45.1,61.8 46.4,62.4 46.4,61.2 46.4,59.2 46.5,59.2 47.4,58.9 47.4,58.4 54.1,61.4 56.5,60.4 \t"}
    %polygon{:points => "60.9,58.5 52.6,54.6 49.6,55.9 57.9,59.8 \t"}
    %polygon{:points => "65.4,56.7 57,52.7 54,54 62.4,57.9 \t"}
    %polygon{:points => "73.3,65.2 73.3,67.8 82.9,63.8 82.9,61.8 82.7,61.2 \t"}
    %polygon{:points => "73.3,61.6 73.3,64.2 82.9,60.2 82.9,58.2 82.7,57.7 \t"}
    %polygon{:points => "73.3,58.1 73.3,60.7 82.9,56.7 82.9,54.6 82.7,54.1 \t"}
    %polygon{:points => "82.7,50.6 73.3,54.5 73.3,57.1 82.9,53.1 82.9,51.1 \t"}
    %polygon{:points => "69.4,66.2 71.8,67.5 71.8,54.9 69.4,53.7 \t"}
    %polygon{:points => "66,55 67.3,55.6 67.2,65.1 68.4,65.7 68.4,53.2 66,52.1 \t"}
    %polygon{:points => "65.1,51.6 63.3,50.8 62.7,50.8 62.7,53.5 65.1,54.6 \t"}
    %polygon{:points => "66.7,49.1 64.2,50.1 72.1,53.6 74.4,52.7 \t"}
    %polygon{:points => "78.5,51 70.8,47.2 67.8,48.6 75.5,52.2 \t"}
    %polygon{:points => "82.7,49.2 74.9,45.6 71.9,46.9 79.6,50.5 \t"}
    %polygon{:points => "47.4,52.4 47.2,52 35.7,56.8 35.7,59.4 47.4,54.5 \t"}
    %polygon{:points => "47.4,48 47.2,47.7 35.7,52.5 35.7,55.1 47.4,50.2 \t"}
    %polygon{:points => "47.4,43.7 47.2,43.2 35.7,48.1 35.7,50.7 47.4,45.9 \t"}
    %polygon{:points => "31.2,47 31.2,62.2 33.6,63.4 33.6,48.2 \t"}
    %polygon{:points => "27.1,45.1 27.1,60 29.5,61.2 29.5,46.2 \t"}
    %polygon{:points => "25.5,44.2 23.5,43.2 23.1,43.2 23.1,57.9 25.5,59.2 \t"}
    %polygon{:points => "27.1,41.2 24.7,42.5 34.2,46.8 36.7,45.7 \t"}
    %polygon{:points => "28.9,40.2 38.7,44.9 41.7,43.7 37.9,41.9 35.7,42.7 29.7,39.9 \t"}
    %polygon{:points => "46.7,41.6 43.3,40 40.1,41.2 43.7,42.9 \t"}
    %polygon{:points => "47.4,32.9 47.2,32.5 35.7,37.2 35.7,39.9 47.4,35.1 \t"}
    %polygon{:points => "47.4,28.6 47.2,28.1 35.7,33 35.7,35.6 47.4,30.6 \t"}
    %polygon{:points => "47.4,24.1 47.2,23.9 35.7,28.6 35.7,31.2 47.4,26.4 \t"}
    %polygon{:points => "35.7,26.9 47.4,22.1 47.4,19.9 47.2,19.5 35.7,24.3 \t"}
    %polygon{:points => "31.2,23.1 31.2,38.4 33.6,39.6 33.6,24.4 \t"}
    %polygon{:points => "27.1,36.2 29.5,37.5 29.5,22.4 27.1,21.3 \t"}
    %polygon{:points => "25.5,20.5 23.5,19.5 23.1,19.5 23.1,34.1 25.5,35.4 \t"}
    %polygon{:points => "36.7,21.9 27.4,17.6 24.7,18.6 34.2,23 \t"}
    %polygon{:points => "41.7,19.9 32.4,15.5 29.4,16.8 38.7,21.1 \t"}
    %polygon{:points => "46.7,17.8 37.3,13.4 34.3,14.6 43.7,19.1 \t"}
    %polygon{:points => "35.7,84 35.7,86.7 47.4,81.8 47.4,79.6 47.2,79.2 \t"}
    %polygon{:points => "35.7,79.7 35.7,82.2 47.4,77.5 47.4,75.2 47.2,74.9 \t"}
    %polygon{:points => "35.7,75.4 35.7,78 47.4,73.1 47.4,71 47.2,70.6 \t"}
    %polygon{:points => "35.7,71.1 35.7,73.7 47.4,68.8 47.4,66.6 47.2,66.2 \t"}
    %polygon{:points => "31.2,85.1 33.6,86.4 33.6,71.1 31.2,70 \t"}
    %polygon{:points => "27.1,83 29.5,84.2 29.5,69.2 27.1,68 \t"}
    %polygon{:points => "23.1,66.2 23.1,80.8 25.5,82.1 25.5,67.2 23.5,66.2 \t"}
    %polygon{:points => "27.1,64.2 24.7,65.5 34.2,69.7 36.7,68.7 \t"}
    %polygon{:points => "35.7,65.6 29.7,62.9 28.9,63.2 38.7,67.9 41.7,66.6 37.9,64.8 \t"}
    %polygon{:points => "46.7,64.5 43.3,63 40.1,64.1 43.7,65.8 \t"}
