%svg#horizontal-scaling{"enable-background" => "new 0 0 500 350", :space => "preserve", :version => "1.1", :viewbox => "0 0 500 350", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px", :onclick => ""}
  %g#i5
    %g
      %polygon#XMLID_435_{:fill => "#6ED4F3", :points => "250,99.3 194.5,71.5 250,43.8 305.5,71.5 \t\t"}
      %polygon#XMLID_434_{:fill => "#3AA7BD", :points => "250,164.7 194.5,136.9 194.5,71.5 250,99.3 \t\t"}
      %polygon#XMLID_433_{:fill => "#52C0DF", :points => "250,164.7 305.5,136.9 305.5,71.5 250,99.3 \t\t"}
  %g#i6
    %g
      %polygon#XMLID_36_{:fill => "#6ED4F3", :points => "176.2,136.2 120.7,108.4 176.2,80.7 231.7,108.4 \t\t"}
      %polygon#XMLID_35_{:fill => "#3AA7BD", :points => "176.2,201.6 120.7,173.8 120.7,108.4 176.2,136.2 \t\t"}
      %polygon#XMLID_34_{:fill => "#52C0DF", :points => "176.2,201.6 231.7,173.8 231.7,108.4 176.2,136.2 \t\t"}
  %g#i4
    %g
      %polygon#XMLID_432_{:fill => "#6ED4F3", :points => "323.8,136.2 268.3,108.4 323.8,80.7 379.3,108.4 \t\t"}
      %polygon#XMLID_431_{:fill => "#3AA7BD", :points => "323.8,201.6 268.3,173.8 268.3,108.4 323.8,136.2 \t\t"}
      %polygon#XMLID_430_{:fill => "#52C0DF", :points => "323.8,201.6 379.3,173.8 379.3,108.4 323.8,136.2 \t\t"}
  %g#i1
    %g
      %polygon#XMLID_27_{:fill => "#6ED4F3", :points => "250,173.1 194.5,145.3 250,117.6 305.5,145.3 \t\t"}
      %polygon#XMLID_26_{:fill => "#3AA7BD", :points => "250,238.5 194.5,210.7 194.5,145.3 250,173.1 \t\t"}
      %polygon#XMLID_25_{:fill => "#52C0DF", :points => "250,238.5 305.5,210.7 305.5,145.3 250,173.1 \t\t"}
  %g#i7
    %g
      %polygon#XMLID_423_{:fill => "#6ED4F3", :points => "102.5,173.3 47,145.5 102.5,117.8 158,145.5 \t\t"}
      %polygon#XMLID_422_{:fill => "#3AA7BD", :points => "102.5,238.7 47,210.9 47,145.5 102.5,173.3 \t\t"}
      %polygon#XMLID_421_{:fill => "#52C0DF", :points => "102.5,238.7 158,210.9 158,145.5 102.5,173.3 \t\t"}
  %g#i8
    %g
      %polygon#XMLID_18_{:fill => "#6ED4F3", :points => "176.3,210.2 120.8,182.4 176.3,154.7 231.7,182.4 \t\t"}
      %polygon#XMLID_17_{:fill => "#3AA7BD", :points => "176.3,275.6 120.8,247.8 120.8,182.4 176.3,210.2 \t\t"}
      %polygon#XMLID_16_{:fill => "#52C0DF", :points => "176.3,275.6 231.7,247.8 231.7,182.4 176.3,210.2 \t\t"}
  %g#i3
    %g
      %polygon#XMLID_429_{:fill => "#6ED4F3", :points => "397.5,173.2 342,145.5 397.5,117.8 453,145.5 \t\t"}
      %polygon#XMLID_428_{:fill => "#3AA7BD", :points => "397.5,238.7 342,210.9 342,145.5 397.5,173.2 \t\t"}
      %polygon#XMLID_427_{:fill => "#52C0DF", :points => "397.5,238.7 453,210.9 453,145.5 397.5,173.2 \t\t"}
  %g#i2
    %g
      %polygon#XMLID_9_{:fill => "#6ED4F3", :points => "323.7,210.2 268.3,182.4 323.7,154.7 379.2,182.4 \t\t"}
      %polygon#XMLID_8_{:fill => "#3AA7BD", :points => "323.7,275.6 268.3,247.8 268.3,182.4 323.7,210.2 \t\t"}
      %polygon#XMLID_7_{:fill => "#52C0DF", :points => "323.7,275.6 379.2,247.8 379.2,182.4 323.7,210.2 \t\t"}
  %g#i9
    %g
      %polygon#XMLID_417_{:fill => "#6ED4F3", :points => "250,247.2 194.5,219.5 250,191.8 305.5,219.5 \t\t"}
      %polygon#XMLID_416_{:fill => "#3AA7BD", :points => "250,312.7 194.5,284.9 194.5,219.5 250,247.2 \t\t"}
      %polygon#XMLID_415_{:fill => "#52C0DF", :points => "250,312.7 305.5,284.9 305.5,219.5 250,247.2 \t\t"}