---
title: Install Nanobox
description: Nanobox provides a installers and downlaodable binaries to make installation as simple as possible.
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./install-mac"
#linux-content
  = find_and_preserve partial "./install-linux"
#win-content
  = find_and_preserve partial "./install-win"
