---
title: Install Nanobox
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./install-mac"
#linux-content
  = find_and_preserve partial "./install-linux"
#win-content
  = find_and_preserve partial "./install-win"
