---
title: VM Performance Tuning
---

<%= partial "os-tabs" %>

<div id="mac-content">
    <%= partial "/local-dev/vm-performance-mac" %>
</div>

<div id="win-content">
  <%= partial "/local-dev/vm-performance-win" %>
</div>

<div id="linux-content">
  <%= partial "/local-dev/vm-performance-linux" %>
</div>
