---
title: Local Performance Tuning
seo_title: Improving Performance for Local Development Environments
description: Minor changes that drastically improve the performance of local Nanobox environments.
keywords: local docker performance, slow docker, fast dev environment
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./vm-performance-mac"
#win-content
  = find_and_preserve partial "./vm-performance-win"
#linux-content
  = find_and_preserve partial "./vm-performance-linux"
