---
title: Local Performance Tuning
description: Minor changes that drastically improve the performance of local Nanobox environments.
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./vm-performance-mac"
#win-content
  = find_and_preserve partial "./vm-performance-win"
#linux-content
  = find_and_preserve partial "./vm-performance-linux"
