#content            {
  h1.error-code     { font-family: $oregon; font-size: 5em; font-weight: 100;
    span.error-name { display: block; font-family: "proxima-nova"; font-size: .35em; font-weight: 700; line-height: 2em; }
  }
}
