a#guides-block  { color: inherit; background: #ebeff3; display: block; width: 100%; padding: 2.5em 2.5em 2em; margin-left: -2.5em;
  h5            { text-align: center; font-size: 1.4em; letter-spacing: .06em; color: #285875;
    &:before    { content: url('/src-images/guides-map.svg'); width: 2.5em; display: block; margin: 0 auto .5em; }
    &:after     { content: ""; display: block; margin: .5em auto ; width: 250px; border-bottom: 1px solid #d2d2d2; }
  }
  p             { font-style: italic; color: #707e86; font-size: .95em; width: 75%; margin: 1em auto; }
  &:hover       { color: inherit; }
}
