.highlight  { background-color: #3d3f19; line-height: 1.55em; color: #fff; }
.c    { color: #496b7f } /* Comment */
.err  { color: #892c39; background-color: #1e0010 } /* Error */
.k    { color: #3acfcf } /* Keyword */
.l    { color: #ae81ff } /* Literal */
.n    { color: #d0dee7 } /* Name */
.o    { color: #f45864 } /* Operator */
.p    { color: #d0dee7 } /* Punctuation */
.cm   { color: #496b7f } /* Comment.Multiline */
.cp   { color: #496b7f } /* Comment.Preproc */
.c1   { color: #496b7f } /* Comment.Single */
.cs   { color: #496b7f } /* Comment.Special */
.ge   { font-style: italic } /* Generic.Emph */
.gs   { font-weight: bold } /* Generic.Strong */
.kc   { color: #3acfcf } /* Keyword.Constant */
.kd   { color: #3acfcf } /* Keyword.Declaration */
.kn   { color: #f45864 } /* Keyword.Namespace */
.kp   { color: #3acfcf } /* Keyword.Pseudo */
.kr   { color: #3acfcf } /* Keyword.Reserved */
.kt   { color: #3acfcf } /* Keyword.Type */
.ld   { color: #f5da81 } /* Literal.Date */
.m    { color: #ae81ff } /* Literal.Number */
.s    { color: #f5da81 } /* Literal.String */
.na   { color: #4DE271 } /* Name.Attribute */
.nb   { color: #d0dee7 } /* Name.Builtin */
.nc   { color: #4DE271 } /* Name.Class */
.no   { color: #3acfcf } /* Name.Constant */
.nd   { color: #4DE271 } /* Name.Decorator */
.ni   { color: #d0dee7 } /* Name.Entity */
.ne   { color: #4DE271 } /* Name.Exception */
.nf   { color: #4DE271 } /* Name.Function */
.nl   { color: #d0dee7 } /* Name.Label */
.nn   { color: #d0dee7 } /* Name.Namespace */
.nx   { color: #4DE271 } /* Name.Other */
.pi   { color: #757F84 }
.py   { color: #d0dee7 } /* Name.Property */
.nt   { color: #f45864 } /* Name.Tag */
.nv   { color: #d0dee7 } /* Name.Variable */
.ow   { color: #f45864 } /* Operator.Word */
.w    { color: #d0dee7 } /* Text.Whitespace */
.mf   { color: #ae81ff } /* Literal.Number.Float */
.mh   { color: #ae81ff } /* Literal.Number.Hex */
.mi   { color: #ae81ff } /* Literal.Number.Integer */
.mo   { color: #ae81ff } /* Literal.Number.Oct */
.sb   { color: #f5da81 } /* Literal.String.Backtick */
.sc   { color: #f5da81 } /* Literal.String.Char */
.sd   { color: #f5da81 } /* Literal.String.Doc */
.s2   { color: #f5da81 } /* Literal.String.Double */
.se   { color: #ae81ff } /* Literal.String.Escape */
.sh   { color: #f5da81 } /* Literal.String.Heredoc */
.si   { color: #f5da81 } /* Literal.String.Interpol */
.sx   { color: #f5da81 } /* Literal.String.Other */
.sr   { color: #f5da81 } /* Literal.String.Regex */
.s1   { color: #f5da81 } /* Literal.String.Single */
.ss   { color: #f5da81 } /* Literal.String.Symbol */
.bp   { color: #d0dee7 } /* Name.Builtin.Pseudo */
.vc   { color: #d0dee7 } /* Name.Variable.Class */
.vg   { color: #d0dee7 } /* Name.Variable.Global */
.vi   { color: #d0dee7 } /* Name.Variable.Instance */
.il   { color: #ae81ff } /* Literal.Number.Integer.Long */

.gh   { } /* Generic Heading & Diff Header */
.gu   { color: #496b7f; } /* Generic.Subheading & Diff Unified/Comment? */
.gd   { color: #f45864; } /* Generic.Deleted & Diff Deleted */
.gi   { color: #4DE271; } /* Generic.Inserted & Diff Inserted */
