.highlight  { background-color: #f3f4f5; line-height: 1.75em; color: #395465; font-weight: bold;}
.c    { color: #a7b2bd; font-style: italic; } /* Comment */
.err  { color: #892c39; background-color: #1e0010 } /* Error */
.k    { color: #07a; } /* Keyword */
.l    { color: #c50fa4 } /* Literal */
.n    { color: #31c389 } /* Name */
.o    { color: #f45864 } /* Operator */
.p    { color: #31c389 } /* Punctuation */
.cm   { color: #a7b2bd; font-style: italic; } /* Comment.Multiline */
.cp   { color: #a7b2bd; font-style: italic; } /* Comment.Preproc */
.c1   { color: #a7b2bd; font-style: italic; } /* Comment.Single */
.cs   { color: #a7b2bd; font-style: italic; } /* Comment.Special */
.ge   { font-style: italic } /* Generic.Emph */
.gs   { font-weight: bold } /* Generic.Strong */
.kc   { color: #07a; } /* Keyword.Constant */
.kd   { color: #07a; } /* Keyword.Declaration */
.kn   { color: #f45864 } /* Keyword.Namespace */
.kp   { color: #07a; } /* Keyword.Pseudo */
.kr   { color: #07a; } /* Keyword.Reserved */
.kt   { color: #07a; } /* Keyword.Type */
.ld   { color: #395465 } /* Literal.Date */
.m    { color: #c50fa4 } /* Literal.Number */
.s    { color: #395465 } /* Literal.String */
.na   { color: #07a } /* Name.Attribute */
.nb   { color: #31c389 } /* Name.Builtin */
.nc   { color: #07a } /* Name.Class */
.no   { color: #07a; } /* Name.Constant */
.nd   { color: #07a } /* Name.Decorator */
.ni   { color: #31c389 } /* Name.Entity */
.ne   { color: #07a } /* Name.Exception */
.nf   { color: #07a } /* Name.Function */
.nl   { color: #31c389 } /* Name.Label */
.nn   { color: #31c389 } /* Name.Namespace */
.nx   { color: #07a } /* Name.Other */
.pi   { color: #999 }
.py   { color: #31c389 } /* Name.Property */
.nt   { color: #f45864 } /* Name.Tag */
.nv   { color: #31c389 } /* Name.Variable */
.ow   { color: #f45864 } /* Operator.Word */
.w    { color: #31c389 } /* Text.Whitespace */
.mf   { color: #c50fa4 } /* Literal.Number.Float */
.mh   { color: #c50fa4 } /* Literal.Number.Hex */
.mi   { color: #c50fa4 } /* Literal.Number.Integer */
.mo   { color: #c50fa4 } /* Literal.Number.Oct */
.sb   { color: #395465 } /* Literal.String.Backtick */
.sc   { color: #395465 } /* Literal.String.Char */
.sd   { color: #395465 } /* Literal.String.Doc */
.s2   { color: #395465 } /* Literal.String.Double */
.se   { color: #c50fa4 } /* Literal.String.Escape */
.sh   { color: #395465 } /* Literal.String.Heredoc */
.si   { color: #395465 } /* Literal.String.Interpol */
.sx   { color: #395465 } /* Literal.String.Other */
.sr   { color: #395465 } /* Literal.String.Regex */
.s1   { color: #395465 } /* Literal.String.Single */
.ss   { color: #395465 } /* Literal.String.Symbol */
.bp   { color: #31c389 } /* Name.Builtin.Pseudo */
.vc   { color: #31c389 } /* Name.Variable.Class */
.vg   { color: #31c389 } /* Name.Variable.Global */
.vi   { color: #31c389 } /* Name.Variable.Instance */
.il   { color: #c50fa4 } /* Literal.Number.Integer.Long */

.gh   { } /* Generic Heading & Diff Header */
.gu   { color: #a7b2bd; font-style: italic; } /* Generic.Subheading & Diff Unified/Comment? */
.gd   { color: #f45864; } /* Generic.Deleted & Diff Deleted */
.gi   { color: #07a; } /* Generic.Inserted & Diff Inserted */
