@import 'variables-mixins', 'normalize', 'heading-hash', 'syntaxhighlighter';

body                    { background: $gblue-1; font-family: 'Lato', sans-serif; -webkit-font-smoothing: antialiased; }
a                       { @include transition(all .15s); }
.left                   { float: left; }
.right                  { float: right; }


#header                 { display: block; padding: 20px; position: fixed; top: 0; left: 0; background: $gblue-2; width: 100%; @include box-sizing; @include transition(all .15s); z-index: 100; 
  a                     { color: $gblue-4; text-decoration: none; text-transform: uppercase; font-size: 1.2em; letter-spacing: .06em;
    &:hover             { color: $gblue-6; }
    &#logo              { margin-top: -.05em;
      span#nb-title     { margin-left: 1.8em;
        &:after         { content: "alpha"; margin-left: .5em; position: relative; top: -.15em; font-size: .75em; color: $blue-0; text-transform: none; font-style: italic; letter-spacing: 0; font-weight: 700; }
      }
    }
  }
  &.small               { padding: 8px 20px;
    a                   { font-size: 1em; }
  }
  ul.links              { float: right; margin: 0; padding: 0; list-style: none;
    li                  { display: inline-block;
      &.text            { font-size: .8em; vertical-align: text-top;
        a               { padding: .2em .75em .25em; @include border-radius(1em); font-style: italic; text-transform: none; letter-spacing: 0; border: .15em solid $gblue-2;
          &:hover       { background: $gblue-6; color: $gblue-1; border-color: $gblue-6; } 
          &.active      { border-color: $gblue-6;  color: $gblue-6;
            &:hover     { background: $gblue-2; color: $gblue-6;}
          }
        }
      }
    }
  }
  svg                   {
    &#nb-logo-sm        { height: 1.5em; width: 1.3em; position: absolute; }
    &#home-icon         { margin-left: .65em; height: 1em; width: 1em; stroke: $gblue-4; @include transition(stroke .15s);
      &:hover           { stroke: $gblue-6; }
    }
  }
}

#footer                 { width: 100%; background: $gblue-0; display: inline-block; padding: 4em 2em; font-size: .9em; color: $gblue-4; @include box-sizing; 
  a                     { color: $gblue-5; text-decoration: none;
    &:hover             { color: $gblue-7; }
    &#production        { display: block; text-align: center;
      #nb-logo-md       { height: 6em; display: block; margin: 0 auto .75em; @include opacity(.7); @include transition(opacity .2s); }
      &:hover #nb-logo-md { @include opacity(1); }
    }
  }
  p                     { display: inline-block; }
  ul                    { display: inline-block; padding: 0; margin: 0 2em 1em 0; list-style: none; vertical-align: top; }
  li                    { line-height: 1.6em; }
  #wrapper              { margin: 0 auto; position: relative; }
  .title                { font-weight: bold; color: $gblue-7; }
  .left                 { max-width: 500px; }
  .right                { position: absolute; right: 0; }
}

#wrapper                { margin: 60px auto; max-width: 1300px; }

#contents-btn           { display: block; position: relative; padding: 1em; font-size: 1.25em; color: $gblue-7; background: $gblue-0; cursor: pointer;
  &:after               { content: "+"; position: absolute; right: .6em; top: .4em; font-size: 1.5em; }
  &.open:after          { content: "–"; }
}
#navigation             { float: left; width: 25%; max-width: 450px; padding: 2.7em 2.7em 2.7em 1em; border-right: 1px solid $gblue-3; @include box-sizing; color: $gblue-5;
  #contents             { @include transition(max-height .5s); max-height: 2800px; overflow: hidden;
    &.closed            { max-height: 0px; }
  }
  a                     { color: $blue-1; text-decoration: none;
    &:hover             { color: $gblue-8; }
  }
  ul                    { margin: 0; padding: 0; list-style: none; 
    li                  { border-top: 1px solid $gblue-3; font-size: 1.2em; font-style: italic;
      a                 { display: block; padding: .6em; }
      &.more > a        {
        &:after          { content: "•••"; margin-left: 1em; padding: 0 .3em .1em .4em; color: $gblue-6; font-size: .3em; letter-spacing: .1em; vertical-align: middle; background: $gblue-0; border: 1px solid $gblue-0; @include border-radius(5px); @include transition(border .15s) }
        &:hover:after    { border-color: $gblue-4; }
      }
      &.active          {
        & > a           { color: $yellow-1; } 
        & > ul.sub      { max-height: 2000px; }
        &.more > a:after{ display: none; }
      }
      &.open            {
        & > a           { color: $gblue-8; }
        & > ul.sub      { max-height: 2000px; }
        &.more > a:after{ display: none; }
      }
      &:last-child      { border-bottom: 1px solid $gblue-3; }
      &:hover           { cursor: pointer; }
    }
    &.sub               { max-height: 0px; overflow: hidden; 
      li                { margin-left: 1em; border: none; font-size: .9em; font-style: normal;
        &:last-child    { margin-bottom: .8em; }
        ul.sub          { border-left: 2px solid $gblue-3; margin: 0 0 .3em .6em;
          li            { margin-left: .4em;
            &:last-child{ margin-bottom: 0; }
          }
        }
      }
    }
  }
}

#content                { float: left; width: 75%; max-width: 820px; padding: 2.7em; @include box-sizing; color: $gblue-6; @include opacity(0); @include transition (opacity .2s);
  &.loaded              { @include opacity(1); }
  h1                    { margin: 20px 0 40px; padding-bottom: 30px; border-bottom: 1px solid $gblue-2; font-size: 3.9em; color: $bgreen-0; font-weight: 300; }
  h2                    { margin: 0 0 .65em; padding-top: 1.5em; font-size: 2.5em; color: $yellow-2; font-weight: 300; }
  h3                    { margin: -1em 0 .45em; padding-top: 2.5em; font-size: 1.55em; color: $bgreen-0; font-weight: 400; font-style: italic; }
  h4                    { margin: -1.5em 0 .25em; padding-top: 3em; font-size: 1.15em; color: $gblue-8; font-weight: 300; font-style: italic; }
  h5                    { margin: -2em 0 .25em; padding-top: 3.5em; font-size: .95em; color: $bgreen-0; text-transform: uppercase; }
  h6                    { margin: -2em 0 .25em; padding-top: 3.5em; font-size: .95em; color: $gblue-7; text-transform: uppercase; font-style: italic; }
  p                     { margin: 0 0 1.5em; line-height: 2em; }
  a                     { color: $blue-1; text-decoration: none; border-bottom: 1px dotted;
    &:hover             { color: $gblue-8;
      code              { border: 1px dotted $blue-0; }
    }
    &.prev              { position: relative; float: left; padding: .3em .8em .5em .6em; margin: .3em 0 .6em; border: none; color: $gblue-4; background: $gblue-0; @include transition(all .15s);
      &:before          { content: ""; position: absolute; top: 0; left: -.55em; width: 0; height: 0; border-style: solid; border-width: 1em .6em 1em 0;; border-color: transparent $gblue-0 transparent transparent; @include transition(border-color .15s); }
      &:hover           { color: $gblue-7; background: $gblue-3;
        &:before        { border-color: transparent $gblue-3 transparent transparent; }
      }
    }
    &.next              { position: relative; float: right; padding: .3em .6em .5em .8em; border: none; color: $gblue-1; background: $blue-1; @include transition(all .15s); font-size: 1.25em;
      &:after           { content: ""; position: absolute; top: 0; right: -.57em; width: 0; height: 0; border-style: solid; border-width: 1em 0 1em .6em;; border-color: transparent transparent transparent $blue-1; @include transition(border-color .15s); }
      &:hover           { color: $gblue-2; background: $gblue-8;
        &:after         { border-color: transparent transparent transparent $gblue-8; }
      }
    }
  }
  strong                { color: $gblue-7; }
  code, pre             { font-family: Consolas,Monaco,'Andale Mono',monospace; white-space: pre; word-wrap: normal; border: 1px dotted $gblue-0; @include transition(border .15s) }
  pre                   { margin-bottom: 3em; padding: 30px; background: $gblue-0; font-size: .9em; overflow: scroll; }
  ul, ol                { padding-left: 1.2em; 
    li                  { line-height: 1.8em; }
  }
  p, ul, li             {
    code                { padding: 5px 6px 6px; font-size: .85em; color: $yellow-2; background: $gblue-0; white-space: nowrap; }
  }
  img                   { max-width: 100%; }
  hr                    { margin: 3em 0 2em; border: none; border-top: 1px solid $gblue-2; }
  blockquote            { margin: 3em 0; padding: .35em 2em .15em; border-left: 4px solid $gblue-3;
    p                   { font-size: 1.25em; font-style: italic; line-height: 1.5em; }
  }
  table                 { width: 100%; margin-bottom: 2em; 
    thead               { background: $gblue-0; }
    th                  { padding: 10px; border: 1px solid $gblue-2; color: $bgreen-0; }
    td                  { padding: 10px; border: 1px solid $gblue-2; }
    tr                  {
      &:first-child td  { border-top: none; }
      &:nth-child(2n+2) { background: $gblue-2;
        td              { border-right: 1px solid $gblue-1;
          &:last-child  { border-right: 1px solid $gblue-2; }
        }
       }
    }
    code                { border: none !important; font-size: .95em; }
  }
  #pagination           { padding: 3.5em 0; margin: 3.5em 0 0;  position: relative; border-top: 1px solid $gblue-2; }
  ul#os-tabs            { margin: 2.5em 0; padding: 0; list-style: none; font-style: italic;
    li                  { display: inline-block; margin: 0 .15em; padding: .4em 1em; border-width: 2px 2px 2px 2px; border-color: $gblue-0; border-style: solid; background-color: $gblue-0; cursor: pointer; @include border-radius(1.5em); @include transition(all .15s);
      &:hover           { border-color: $red; color: $red; }
      &.active          { border-color: $red; background: $red; color: $gblue-1;
        &:hover         { color: $gblue-1; }
      }
    }
  }
}

@import 'svg-styles', 'media-queries';
