%li{ nav_article_active( article.path ) }
  %span
    = partial "svgs/nav-bullet"
  = link_to article.title, article.path
  - if (article.articles || []).any?
    %ul.sub
      - article.articles.each do |article|
        = partial "nav-builder", :locals => { :article => article }
