/* 640px */
/* 641px */
/* 1024px */
/* 1025px */
/* 1440px */
@media (max-width: 40em) {
  /* line 33, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #navigation {
    width: 100%;
    max-width: 100%;
    padding: 0 1.2em;
    border: none;
    background: #19242B; }

  /* line 35, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #content {
    width: 100%;
    padding: 1.2em; } }
@media (max-width: 64em) {
  /* line 42, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #navigation {
    width: 100%;
    max-width: 100%;
    padding: 0 1.2em;
    border: none;
    background: #19242B; }

  /* line 44, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #content {
    width: 100%; } }
@media (min-width: 64.063em) {
  /* line 50, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #contents-btn {
    display: none; }

  /* line 52, /Users/Delorum13/Projects/nanobox-docs/source/stylesheets/media-queries.scss */
  #contents.closed {
    max-height: 2800px !important; } }
