---
title: Requirements for Using Docker Machine & VirtualBox
description: "ystem requirements to use Docker Machine and VirtualBox with Nanobox"
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./mac"
#linux-content
  = find_and_preserve partial "./linux"
#win-content
  = find_and_preserve partial "./win"
