---
title: Requirements for Using Docker Machine & VirtualBox
description: System requirements to use Docker Machine and VirtualBox with Nanobox
keywords: docker-machine, using docker-machine, virtual machine requirements
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./mac"
#linux-content
  = find_and_preserve partial "./linux"
#win-content
  = find_and_preserve partial "./win"
