---
title: Install Nanobox
seo_title: Nanobox Installation Instructions & System Requirements
description: Nanobox provides a installers and downloadable binaries to make installation as simple as possible.
keywords: system requirements, installation, nanobox requirements, windows, linux, mac, macos, simple development environment, isolated dev environment, virtual dev environment, development platform
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./install-mac"
#linux-content
  = find_and_preserve partial "./install-linux"
#win-content
  = find_and_preserve partial "./install-win"
