---
title: Install Nanobox
seo_title: Installing Nanobox Desktop for Local Development
description: Nanobox provides a installers and downlaodable binaries to make installation as simple as possible.
keywords: simple development environment, isolated dev environment, virtual dev environment, development platform
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./install-mac"
#linux-content
  = find_and_preserve partial "./install-linux"
#win-content
  = find_and_preserve partial "./install-win"
