---
title: VM Performance Tuning
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./vm-performance-mac"
#win-content
  = find_and_preserve partial "./vm-performance-win"
#linux-content
  = find_and_preserve partial "./vm-performance-linux"
