---
title: Generating SSH Keys
layout: prod
---

%ul#os-tabs
  %li#osx-tab OSX &amp; Linux
  %li#win-tab Windows

#osx-content
  = partial "production/git-ssh/generating-ssh-keys-osx"

#win-content
  = partial "production/git-ssh/generating-ssh-keys-win"
