%ul#contents.closed
  - data.contents.categories.each do |category|
    %li{ nav_article_active( category.landing_path ) }
      = link_to category.name, category.landing_path
      - if category.articles
        %ul.sub
          - category.articles.each do |article|
            %li{ nav_article_active( article.path ) }
              = link_to article.title, article.path
              - if article.sub_articles
                %ul.sub
                  - article.sub_articles.each do |sub_article|
                    %li{ nav_article_active( sub_article.path ) }
                      = link_to sub_article.title, sub_article.path