---
title: Broken netfs Exports File
seo_title: Troubleshooting NFS Exports File
description: If using 'netfs' to mount your local codebase into your VM, conflicts and other issues can happen the NFS Exports file.
keywords: nfs exports conflict, /etc/exports file not working, /etc/exports broken, vagrant exports
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./broken-exports-file-mac"
#linux-content
  = find_and_preserve partial "./broken-exports-file-linux"
#win-content
  = find_and_preserve partial "./broken-exports-file-win"
