---
title: Broken netfs Exports File
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./broken-exports-file-mac"
#linux-content
  = find_and_preserve partial "./broken-exports-file-linux"
#win-content
  = find_and_preserve partial "./broken-exports-file-win"
